div[data-baseweb="tab-list"] {
    display: flex !important;
    width: 100% !important;
    gap: 8px;
    
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}

button[data-baseweb="tab"] {
    flex: 1 !important; 
    
    background-color: #f0f2f6; 
    border-radius: 20px !important; 
    border: 1px solid #e0e0e0 !important; 
    
    font-size: 16px !important; 
    font-weight: 700 !important;    
    color: #666 !important;         
    
    padding: 8px 5px !important; 
    margin: 0 !important;
    
    white-space: nowrap !important;
    transition: all 0.2s ease;
}

button[data-baseweb="tab"]:hover {
    background-color: #e0e2e6;
    transform: translateY(-3px);
    color: #333 !important;
    border-color: #aaa !important;
}

button[data-baseweb="tab"][aria-selected="true"] {
    background-color: #FF4B4B !important; 
    color: white !important;              
    border-color: #FF4B4B !important;
    box-shadow: 0 4px 10px rgba(255, 75, 75, 0.4);
    transform: translateY(-2px);
}

div[data-baseweb="tab-highlight"] {
    display: none !important;
}